.besteller__item {
    flex: 0 0 calc((100% + 25px) / 7);
    
    
   


    .besteller__img {
       
       
        

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }



    .besteller__content {
        padding: 30px;


        
       





        .besteller__up {



            height: 144px;



            .besteller__title {
                text-transform: uppercase;
                font-family: Manrope;
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0.15em;
                text-align: left;

            }


            .besteller__desc {

                margin-top: 15px;

                div span:first-child {
                    font-family: EuropeExt;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 22px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    margin-right: 5px;
                }

                div:last-child {

                    text-transform: uppercase;
                    font-family: Manrope;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 27px;
                    letter-spacing: 0.1em;
                    text-align: left;

                }





            }
        }






        .besteller__down {
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;





            .besteller__price__container {

                font-family: Manrope;
                font-size: 15px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;


                span:first-child {
                    margin-right: 3px;
                }

                span:last-child {
                    font-weight: 800;
                }



            }



            .besteller__add {
                cursor: pointer;
            }


        }


    }



}



@media (max-width : 1300px) {
    .besteller__item {
        flex: 0 0 calc((100% + 25px) / 6);
    }
}

@media (max-width : 950px) {
    .besteller__item {
        flex: 0 0 calc(100% / 4);
    }
}

@media (max-width : 800px) {
    .besteller__item {
        flex: 0 0 calc(100% / 3);
    }
}

@media (max-width : 650px) {
    .besteller__item {
        flex: 0 0 calc(100% / 2);
    }
}

@media (max-width : 500px) {
    .besteller__item {
        flex: 0 0 calc(100% / 1);
    }
}