.composition__section {
    width: 100%;
    background: linear-gradient(180deg, #A8C8FF 13.78%, #CCDAF2 102.69%);
    
    

    .composition__slider {
        padding-top: 50px;
        padding-bottom: 50px;
        

        .composition__slider__container {
            
            max-width: 1820px;
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
                cursor: pointer;
            }

            .composition__slider__carousel{
                display: flex;
                flex : 1;
                overflow-x: scroll;
                scroll-behavior: smooth;


                &::-webkit-scrollbar {
                    display: none;
                }
            }


        }
    }


}