@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800&display=swap');


@font-face {
    font-family: EuropeExt;
    src: url('../public/fonts/EuropeExtBold.ttf');
}

@font-face {
    font-family: EuropeExtNormal;
    src: url('../public/fonts/EuropeExtNormal.ttf');
}