@import './fonts.scss';
@import './variables.scss';
@import './components/Header/header.scss';
@import './components/Promo/promo.scss';
@import './components/SliderItems/sliderItems.scss';
@import './components/SliderItems/SliderItem/sliderItem.scss';
@import './components/Advantages/advantages.scss';
@import './components/Advantages/AdvantagesCard/advantagesCard.scss';
@import './components/PickUp/PickUp.scss';
@import './components/Concept/coscepts.scss';
@import './components/Composition/composition.scss';
@import './components/Composition/CompositionItem/compositionItem.scss';
@import './components/Bestsellers/bestsellers.scss';
@import './components/Bestsellers/BestellerItem/bestellerItem.scss';
@import './components/Care/care.scss';
@import './components/Care/CareItem/careItem.scss';
@import './components/Test/test.scss';
@import './components/Expert/Expert.scss';
@import './components/Press/press.scss';
@import './components/Subscribe/subscribe.scss';
@import './components/News/News.scss';
@import './components/Footer/footer.scss';


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#root {
    overflow: hidden;
}


.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

li {

    list-style-type: none;

}

a {
    text-decoration: none;
}